{% extends 'base.html.twig' %}

{% block body %}

    {# affichage si l'utilisateur est connecté, et qui a le role de ROLE_USER #}
    {% if is_granted('ROLE_USER') %}
        <h2>Liste des amis de {{ app.user.username | upper }}</h2>{# affichage du nom de l'utilisateur #}

        {# on affiche la liste de ses contact dans une table avec les caractéristique de ces protagonistes #}
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Age</th>
                <th>Famille</th>
                <th>Race</th>
                <th>Nourriture</th>
                <th></th>
            </tr>
            </thead>

            {# boucle pour afficher tous les amis stockés dans la variable "listAmis" #}
            <tbody>
            {% if listAmis is defined %}
                {% for ami in listAmis %}
                    <tr>
                        <td>{{ ami.username }}</td>
                        <td>{{ ami.age }}</td>
                        <td>{{ ami.famille }}</td>
                        <td>{{ ami.race }}</td>
                        <td>{{ ami.nourriture }}</td>
                        <td><a href="{{ path('supprAmi', {'id' : ami.id}) }}"
                               class="btn btn-xs btn-danger">Supprimer</a>
                            {# un lien vers le contolleur nommé supprAmi avec pour paramètre l'id de l'ami #}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <br>
        <hr><br>


        <h3>Liste des inscrits dans l'Animalia</h3>

        {# liste des users non amis avec l'utilisateur connecté #}
        {% if listUsersPasAmi is defined %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Age</th>
                    <th>Famille</th>
                    <th>Race</th>
                    <th>Nourriture</th>
                    <th></th>
                </tr>
                </thead>

                {# boucle pour afficher les utilisateurs inscrits mais non-amis avec l'utilisateur connecté #}
                <tbody>
                {% for user in listUsersPasAmi %}

                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.famille }}</td>
                            <td>{{ user.race }}</td>
                            <td>{{ user.nourriture }}</td>
                            <td><a href="{{ path('ajoutAmi', {'id' : user.id}) }}"
                                   class="btn btn-xs btn-success">Ajouter</a>
                                {# lien vers le controlleur nommé ajoutAmi avec pour paramètre l'id de l'utilisateur ajoutable #}
                            </td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}

{# aside avec les information de l'utilisateur connecté #}
{% block aside %}
    {# toujours si l'utilisateur est connecté et a le rôle ROLE_USER #}
    {% if is_granted('ROLE_USER') %}
        {# découpage en fonction du controleur utilisé (affichage principale de la page contact, modif des informations de l'utilisateur connecté #}
        <h4>Mon profil</h4>
        <ul class="list-group">
        <li class="list-group-item list-group-item-success">Nom : {{ app.user.username }}</li>
        <li class="list-group-item list-group-item-info">Email : {{ app.user.email }}</li>

        {% if insectForm is defined %}  {# si la modification est activé (contoleur modifCompte), on affiche le formulaire de modification #}
            {{ form(insectForm) }}
        {% else %}  {# sinon on laisse l'affichage normal du reste des informations #}
            <li class="list-group-item list-group-item-danger">Age : {{ app.user.age }} ans</li>
            <li class="list-group-item list-group-item-warning">Famille : {{ app.user.famille }}</li>
            <li class="list-group-item list-group-item-info">Race : {{ app.user.race }}</li>
            <li class="list-group-item list-group-item-success">Nourriture : {{ app.user.nourriture }}</li>
            </ul>
            <div class=" text-center">
                <a href="{{ path('modifCompte', {'id' : app.user.id}) }}"
                   class="btn btn-xs btn-warning">Modifier</a>
                {# lien vers le controlleur nommé modifCompte avec pour paramètre l'id de l'utilisateur connecté #}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
